.notebook-viewer {
	--page-width: calc(var(--notebook-width) * var(--in-rem-ratio));
	--page-height: calc(var(--notebook-height) * var(--in-rem-ratio));
	--spread-width: calc(2 * var(--page-width));
	--spread-height: var(--page-height);
	position: relative;
	padding: var(--size-4-3) var(--size-4-3);
	padding-bottom: var(--size-4-2);
}
.notebook-container {
	height: auto;
	max-width: var(--spread-width);
	position: relative;
}
.notebook-container img {
	width: 100%;
}
.page-link {
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: transparent;
	border: none;

	&.prev {
		cursor: w-resize;
	}
	&.next {
		right: 0;
		cursor: e-resize;
	}
}
