header {
	grid-area: header;

	display: grid;
	/* Subgrid is hardcoded here because Safari has an inexplicable bug that will
	 * cause toc to take up the full height of header. Thanks, Tim. */
	grid-template-rows: 1fr var(--layout-row) 1fr;
	grid-template-columns: 1fr;
	grid-template-areas:
		"."
		"toc"
		".";
}

header > * {
	padding: var(--size-4-2);
	padding-left: var(--size-4-4);
}

[data-mode="single"] header {
	grid-area: header;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: "toc";
}
