body {
	height: 100vh;
	padding: var(--size-4-3);

	display: grid;
	grid-template-columns: 1fr var(--layout-col) 1fr;
	grid-template-rows: 1fr var(--layout-row) 1fr;
	grid-template-areas:
		"header . ."
		"header book ."
		"header . .";
	transition: grid-template-columns 500ms cubic-bezier(0.08, 0.9, 0.11, 1);
}

main {
	grid-area: book;
}

/* position the notebook-viewer in the absolutely so that its contents are not bound by the width of its parent container */

/* this approach was chosen over others for a few reasons:
 * since the cover (spread=0) should have the ribbon overflowing to the right.
 * - if it were justified center, that extra width cause it to be visually askew.
 * - if the image was expanded to have it visually centered, it would cause the page-flipping button to be too large
 * - if it was justified left, it would be weirdly animated as the column shrinks
 */

[data-mode="double"] main {
	position: absolute;
	top: calc((100% - var(--layout-row)) / 2);
	left: calc((100% - var(--layout-col)) / 2);
	width: var(--layout-col);
	height: var(--layout-row);
}

[data-mode="double"] body:has(> main[data-active-spread="0"]) {
	grid-template-columns: 1fr calc(var(--layout-col) / 2) 1fr;
	& main {
		left: calc((100% - var(--layout-col) / 2) / 2);
		width: calc(var(--layout-col) / 2);
	}
}

[data-mode="single"] {
	& body {
		grid-template-columns: 1fr;
		grid-template-rows: minmax(5lh, 10lh) 1fr 1fr;
		grid-template-areas:
			"header"
			"book"
			"footer";
		padding: 0;

		height: 100vh;
	}
}
