body {
	height: 100vh;
	padding: 1rem;

	display: grid;
	grid-template-columns: 1fr var(--layout-col) 1fr;
	grid-template-rows: 1fr var(--layout-row) 1fr;
	grid-template-areas:
		"h . ."
		"h book ."
		"h . .";
}
main {
	grid-area: book;
}
