body {
	height: 100vh;
	padding-bottom: 5vh;

	display: grid;
	grid-template-columns: 1fr var(--layout-col) 1fr;
	grid-template-rows: 1fr var(--layout-row) 1fr;
}

main > * {
	grid-column: 2;
	grid-row: 2;
}
