:root {
	--in-rem-ratio: {{ config["rem-per-inch"] }}rem;
	--notebook-width: {{ notebookData.dimensions.width }};
	--notebook-height: {{ notebookData.dimensions.height }};
	--page-width: calc(var(--notebook-width) * var(--in-rem-ratio));
	--page-height: calc(var(--notebook-height) * var(--in-rem-ratio));
	--spread-width: calc(2 * var(--page-width));
	--spread-height: var(--page-height);
}
