---
layout: layouts/spreadBase.vto
---

{{ set spreadAnnotations = buildAnnotations.annotationsBySpread?.[spread] }}
{{ set annotationsList = buildAnnotations.annotationsList }}

{{ comp.visualizer({ spreadAnnotations }) }}
{{ if spreadAnnotations }}
	<ol class="annotations-list">
		{{ for a of spreadAnnotations }}
			<li value="{{ a.k1 + 1 }}">
				{{ if a.k2 }}
					{{ annotationsList[a.k1].name }}
					<ol>
						{{ for sub of a.k2 }}
							<li>
								{{- annotationsList[a.k1].annotations[sub.subKey].desc -}}
								{{ if annotationsList[a.k1].annotations[sub.subKey].date -}}
									, <time>{{ annotationsList[a.k1].annotations[sub.subKey].date }}</time>
								{{ /if }}
							</li>
						{{ /for }}
					</ol>
				{{ else }}
					{{- annotationsList[a.k1].desc -}}
					{{ if annotationsList[a.k1].date -}}
						, <time>{{ annotationsList[a.k1].date }}</time>
					{{ /if }}
				{{ /if }}
			</li>
		{{ /for }}
	</ol>
{{ /if }}
