<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="notebook-viewer">
			<div class="notebook-container">
				<button
					type="button"
					class="page-link prev"
					aria-label="Previous spread"
				>
				</button>
				<button type="button" class="page-link next" aria-label="Next spread">
				</button>
				<img
					id="spread-image"
					src="/assets/light-green-notebook/spread_{{ 1 |> padStart }}.png"
					alt=""
				>
			</div>
		</div>
	</body>
</html>
