---
layout: layouts/spreadBase.vto
---

{{ set annotationsList = buildAnnotations.annotationsList }}

{{# One hidden block per spread; spreadBase.vto reveals the active one. #}}
{{ for n of Array(spreadCount).keys() }}
	{{ set spread = n + 1 }}
	{{ set spreadAnnotations = buildAnnotations.annotationsBySpread?.[spread] }}
	<div
		class="annotation-block"
		data-spread="{{ spread }}"
		{{ if spread !== 1 }}
			hidden{{ /if }}
	>
		{{ comp.visualizer({ spreadAnnotations }) }}

		{{ if spreadAnnotations }}
			<ol class="annotations-list">
				{{ for entry of spreadAnnotations }}
					{{ set item = annotationsList[entry.listIndex] }}
					<li value="{{ entry.listIndex + 1 }}">
						{{ if entry.subAnnotations }}
							{{ item.name }}
							<ol>
								{{ for sub of entry.subAnnotations }}
									{{ set annotation = item.annotations[sub.annotationIndex] }}
									<li value="{{ sub.annotationIndex + 1 }}">
										{{- annotation.desc -}}
										{{ if annotation.date -}}
											, <time>{{ annotation.date }}.</time>
										{{ /if }}
									</li>
								{{ /for }}
							</ol>
						{{ else }}
							{{- item.desc -}}
							{{ if item.date -}}
								, <time>{{ item.date }}.</time>
							{{ /if }}
						{{ /if }}
					</li>
				{{ /for }}
			</ol>
		{{ /if }}
	</div>
{{ /for }}
