.annotations {
	max-width: var(--spread-width);
}

.annotation {
	display: flex;
	align-items: baseline;
	gap: var(--size-4-2);
	font-size: var(--font-base-serif);

	&:last-child {
		padding-bottom: 1px;
	}
}

.annotation-title {
	color: var(--color-base-900);
}

