.notebook-viewer {
	--page-width: calc(var(--notebook-width) * var(--in-rem-ratio));
	--page-height: calc(var(--notebook-height) * var(--in-rem-ratio));
	--spread-width: calc(2 * var(--page-width));
	--spread-height: var(--page-height);
	position: relative;
	padding: var(--size-4-3) var(--size-4-3);
	padding-bottom: var(--size-4-2);
}

.notebook-container {
	user-select: none;
	height: auto;
	max-width: var(--spread-width);
	position: relative;
}

.notebook-container img {
	width: 100%;
	position: relative;
}

.page-link {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: transparent;
	border: none;

	&.prev {
		cursor: w-resize;
	}
	&.next {
		right: 0;
		cursor: e-resize;
	}
}

.notebook-viewer[data-spread="0"] {
	display: flex;
	justify-content: center;
	& .page-link.next {
		width: 100%;
	}
	& .page-link.prev {
		width: 0%;
	}
	& .spread-image {
		max-height: var(--page-height);
		width: auto;
	}
}
