.toc {
	grid-area: toc;
	overflow-y: auto;
	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 18px,
		black calc(100% - 18px),
		transparent
	);
}
.toc ol {
	list-style: none;
}
.toc summary {
	display: inline-block; /* hide default arrow */
	user-select: none;
}
.toc:has(details[open]) li:not(:has(details[open])) {
	display: none;
}
