.toc {
	grid-area: toc;
	overflow-y: auto;
	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 14px,
		black calc(100% - 14px),
		transparent
	);
	padding-top: 12px;
}

.toc ol {
	list-style: none;
}

.toc summary {
	display: inline-block; /* hide default arrow */
	user-select: none;
}

.toc:has(details[open]) > ol > li:not(:has(details[open])) {
	display: none;
}
