.toc {
	position: relative;
	grid-area: toc;
	overflow-y: auto;
	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 14px,
		black calc(100% - 14px),
		transparent
	);
	padding-top: 12px;
}

.toc ol {
	list-style: none;
}

.toc ol > li {
	position: relative;
	margin-bottom: var(--size-2-2);
	display: flex;
	align-items: stretch;
	gap: var(--size-2-3);
}

.toc .spine {
	box-sizing: content-box;
	margin-top: map(arial, topToAscender)rem;
	margin-bottom: map(times, baselineToBottom)rem;
	width: 0.3ch;
	border: solid 1px black;
	border-right: none;
	opacity: 0;
}

.toc summary {
	display: inline-block; /* hide default arrow */
	user-select: none;
}

.toc:has(details[open]) > ol > li:not(:has(details[open])) {
	opacity: 0.2;
}

.toc li:has(details[open]) {
	margin-top: var(--size-4-1);
	margin-bottom: var(--size-4-2);

	& .spine {
		opacity: 1;
	}
}

.toc .content {
	margin-top: var(--size-2-1);
}
