---
title: ◻
---

{{ layout "layouts/base.vto" }}
	{{ set head }}
		{{
			set layoutColRem = Math.round(notebooks.lgn.dimensions.width * config["rem-per-inch"] * 2 * 100)
			/ 100
		}}
		{{
			set layoutRowRem = Math.round(notebooks.lgn.dimensions.height * config["rem-per-inch"] * 100)
			/ 100
		}}
		<style>
		:root {
			--layout-col: {{ layoutColRem }}rem;
			--layout-row: {{ layoutRowRem }}rem;
			--in-rem-ratio: {{ config["rem-per-inch"] }}rem;
			--notebook-width: {{ notebooks.lgn.dimensions.width }};
			--notebook-height: {{ notebooks.lgn.dimensions.height }};
		}
		@media (max-width: {{ layoutColRem }}rem), (max-height: {{ layoutRowRem }}rem) {
			body {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
			}
		}
		</style>
	{{ /set }}

	<header>
		{{ comp.tocList() }}
	</header>
	<main>
		<figure
			class="notebook-viewer"
			data-spread="0"
		>
			<div class="notebook-container">
				<img
					class="spread-image"
					{{# todo, make this not hardcoded #}}
					src="/assets/spreads/000.png"
					data-spread="0"
					alt=""
				>
				<button
					type="button"
					class="page-link prev"
					aria-label="Previous spread"
				>
				</button>
				<button
					type="button"
					class="page-link next"
					aria-label="Next spread"
				>
				</button>
			</div>
		</figure>
	</main>
	<div class="marks">
		<div class="inner top"></div>
		<div class="outer top"></div>
		<div class="inner right"></div>
		<div class="outer right"></div>
		<div class="inner bottom"></div>
		<div class="outer bottom"></div>
		<div class="inner left"></div>
		<div class="outer left"></div>
	</div>
{{ /layout }}
