{{# desktop viewer: single paginated spread, flipped via .page-link buttons. hidden under [data-mode="single"] (see notebook-viewer.css) #}}
<main class="notebook-viewer">
	<figure class="notebook-container">
		{{
			for 
			spread of Array.from(
				{ length: notebooks.lgn.totalSpreads },
				(_, i) => i,
			)

		}}
			<div class="spread-wrapper" data-spread="{{ spread }}">
				<img
					class="scroll-image"
					data-spread="{{ spread }}"
					src="/assets/spreads/{{ spread |> padNum(3) }}.png"
					loading="lazy"
					alt=""
				>
				<div class="pages-wrapper">
					{{ if spread !== 0 }}
						<div class="page-snap"></div>
						<button class="page-link prev"></button>
					{{ /if }}
					<div class="page-snap"></div>
					<button class="page-link next"></button>
				</div>
			</div>
		{{ /for }}
	</figure>
</main>
