<div class="visualizer_wrapper">
	<div class="visualizer">
		<div class="visualizer_background">
			<div class="visualizer_page"></div>
			<div class="visualizer_page right"></div>
		</div>
		<div class="visualizer_grid">
			{{ if spreadAnnotations }}
				{{ for entry of spreadAnnotations }}
					{{ if entry.subAnnotations }}
						{{ for sub of entry.subAnnotations }}
							<div class="shape" style="grid-row: {{ sub.gridRowStart }}/{{ sub.gridRowEnd }}; grid-column: {{ sub.gridColStart }}/{{ sub.gridColEnd }}">{{ entry.listIndex + 1 }}{{ sub.value }}</div>
						{{ /for }}
					{{ else }}
						<div class="shape" style="grid-row: {{ entry.gridRowStart }}/{{ entry.gridRowEnd }}; grid-column: {{ entry.gridColStart }}/{{ entry.gridColEnd }}">{{ entry.listIndex + 1 }}</div>
					{{ /if }}
				{{ /for }}
			{{ /if }}
		</div>
	</div>
</div>
