<div class="visualizer_wrapper">
	<div class="visualizer">
		<div class="visualizer_background">
			<div class="visualizer_page"></div>
			<div class="visualizer_page right"></div>
		</div>
		<div class="visualizer_grid">
			{{ if spreadAnnotations }}
				{{ for a of spreadAnnotations }}
					{{ if a.k2 }}
						{{ for sub of a.k2 }}
							<div class="shape" style="grid-row: {{ sub.gridRowStart }}/{{ sub.gridRowEnd }}; grid-column: {{ sub.gridColStart }}/{{ sub.gridColEnd }}">{{ a.k1 + 1 }}</div>
						{{ /for }}
					{{ else }}
						<div class="shape" style="grid-row: {{ a.gridRowStart }}/{{ a.gridRowEnd }}; grid-column: {{ a.gridColStart }}/{{ a.gridColEnd }}">{{ a.k1 + 1 }}</div>
					{{ /if }}
				{{ /for }}
			{{ /if }}
		</div>
	</div>
</div>
