<div class="visualizer_wrapper">
	<div class="visualizer">
		<div class="visualizer_background">
			<div class="visualizer_page"></div>
			<div class="visualizer_page right"></div>
		</div>
		<div class="visualizer_grid">
			<div class="shape-container">
				<div class="shape" style="grid-row: 2/-1; grid-column: 1/-1"></div>
				<div class="shape top" style="grid-row: 1; grid-column: -5/-1"></div>
			</div>
			<div class="shape" style="grid-row: 1; grid-column: 1/span 4"></div>
		</div>
	</div>
</div>
